/* Shared style*/
* {
    margin: 0;
    padding: 0;
}

.btn-primary {
    padding: 10px;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Shared style End */

/* Header style start */
header {
    padding: 60px 60px;
}

.h1 {
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

.h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}

nav h3 {
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

nav>ul {
    display: flex;
}

nav .fa-bars {
    display: none;
}

nav li {
    list-style: none;
    margin-right: 25px;
}

/* .img-A{
    width: 100%;
} */
.text {
    position: relative;
}

.texts {
    position: absolute;
    bottom: 30%;
    text-align: center;
    margin: 5px auto;
    left: 110px;

}

.img-a {
    width: 100%;
    height: 100%;
}

.t-h {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 40px;
}

.poto{
    text-align: center;
}
.t-d {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}
.btn-3{
    padding: 10px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bttns {
    justify-content: center;
    display: flex;
    gap: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
}

.button-1,
#button-2,
#button-3 {
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.opt{
    justify-content: center;
}
.button-1 {
    border-radius: 8px;
    background: #FFF;
}

.button-4 {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
}

.two {
    display: flex;
    padding: 60px 60px;
    margin-top: 60px;
    gap: 20px;
}

.img-b {
    width: 400px;
    height: 400px;
}



.t-2 {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
}

.t-d2 {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    list-style: circle;
}


/* Choose your destination section */
.dest-sect {
    padding: 60px 60px;
}

.sect {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.secd {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}


.allimgs {
    display: flex;
    justify-content: space-around;
}

.image-cont {
    position: relative;
    margin: 10px;
    display: flex;
}

.image-cont img {
    object-fit: cover;
    overflow: hidden;
    display: flex;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 1.7rem;
}

.img-c {
    width: 100%;
    height: 100%;
    position: relative;
}

.img-d {
    width: 100%;
    position: relative;
}

.mal {
    position: absolute;
}

/* why choose us section */
.choose {
    text-align: center;
    padding: 60px 60px;
}

.t-3 {
    color: #131318;

    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.t-d3 {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
}

.choose {
    padding: 60px 60px;
}

.choo {
    display: flex;
    gap: 15px;
}

.cho,
.cho-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);

}

.cho-1 {
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}

.cho-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.cho,
.cho-2 {
    margin-bottom: 15px;
}

/* newsletter section */
.news {
    display: flex;
    padding: 60px 60px;
    gap: 10px;
}

.img-k {
    width: 100%;
}

.newscls {
    border: 100% solid;
    border-radius: 16px;
    border: 1px solid #FF5400;
    margin-bottom: 10px;
}

.newsl {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}

.newsd {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.btn-24 {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
}

.vl {
    color: #5A5A5D;
    height: 1px;
    width: 100%;
    margin-bottom: 20px;
}

.bn {
    text-align: center;
}

button,
select {
    border-radius: 8px;
    background-position: center;
    color: #FFF;
    padding: 15px 50px;
    text-align: center;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 800;

}

.foot {
    padding: 60px 60px;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    margin-top: 20px;
}

.f-d {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}

.f-de {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}


/* Responsive start */
@media screen and (min-width:320px) and (max-width:600px) {
    .img-a {
        height: 600px;
    }

    .texts {
        position: absolute;
        bottom: 15%;
        text-align: center;
        margin: 1px auto;
        left: 0;

    }

    .two,
    .news {
        display: inline;
    }

    nav ul {
        display: none;
    }

    nav .fa-bars {
        display: inline;
    }

    header {
        padding: 20px 20px;
    }

    .bttns,
    .choo,
    .allimgs {
        flex-direction: column;
    }

    .two,
    .dest-sect,
    .choose {
        padding: 20px 20px;
    }
    .t-2, .t-d2{
        text-align: center;
    }

    .button-1,
    .button-2,
    .button-3,
    .button-4 {
        background-size: 400px;
    }

    .img-b {
        width: 100%;
    }

    .img-c {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .img-d {
        width: 100%;
        position: relative;
    }

    .t-h {
        color: #FFF;
        font-size: 30px;
    }


}